@import url("https://fonts.googleapis.com/css2?family+Open+Sans:wght@300;400;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open sans', sans-serif;
}

body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    height: 100vh;
}

p {
    font-size: large;
    text-align: center;
    padding-bottom: 3rem;
    color: black;
}

header h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1;
}

header h1 span {
    font-weight: 700;
    ;
}


section.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

form button {
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(87, 53, 26);
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
}

form button:hover {
    background-color: rgb(66, 16, 16);
    color: white;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(253, 253, 253);
    Z-index: 1;
}

.modal-content {
    width: 80%;
    background-color: white;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid brown;
    position: relative;
    text-align: center;
    animation: slide ease 0.8s;
    border-radius: 20px;
}

@keyframes slide {
    0% {
        transform: translateY(-30);
    }

    100% {
        transform: translateY(0);
    }
}

/* .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: transparent;
    font-size: 2rem;
    cursor: pointer;
} */